{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Additional stylesheet specific to this page -->
   <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block main_template %}

<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Enter your email" value="{{ request.GET.email }}" required>
    <button type="submit">Send Reset Email</button>
</form>



{% endblock %}
